@page
@model IndexModel
@{
    ViewData["Title"] = "Listener Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Goshen's SignalR Test'</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<input type="hidden" id="sendButton"/>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/msg.js"></script>